<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet"> 
</head>
<body>
    <div class="box" id="heading">
        <h1><%= date%></h1>
    </div>
    <div class="box">
        <% list.forEach(function (item){ %>
            <div class="item">
                <form method="post" action="/delete/<%=extension%>">
                    <input type ="checkbox" name= "check" value="<%=item._id%>" onChange="this.form.submit()">
                </form>
                <p><%= item.action %></p>
            </div>
            
        <% }); %>
        <form method="post" action="/<%=extension%>">
            <input type="text" name="action" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit">+</button>
        </form>
    </div>
    
</body>
</html>